<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlc.family.manage.mapper.BillMapper">

    <select id="selectBillList" resultType="com.zlc.family.manage.vo.BillVo">
        SELECT
            fb.bill_id,
            fb.amount,
            fb.user_name,
            fb.type,
            fb.flow,
            fb.pay_time,
            fb.remark,
            fa.name as account_name
        FROM
            family_bill as fb JOIN family_account fa
        WHERE fb.del_flag = 0 AND fb.account_id = fa.account_id
        <if test="query.userName != null and query.userName !=''">
            AND fb.user_name = #{query.userName}
        </if>
        <if test="query.type != null">
            AND fb.type = #{query.type}
        </if>
        <if test="query.accountId != null">
            AND fb.account_id = #{query.accountId}
        </if>
        <if test="query.flow != null">
            AND fb.flow = #{query.flow}
        </if>
        <if test="query.params.beginTime != null and query.params.beginTime != ''"><!-- 开始时间检索 -->
            and fb.pay_time &gt;= #{query.params.beginTime}
        </if>
        <if test="query.params.endTime != null and query.params.endTime != ''"><!-- 结束时间检索 -->
            and fb.pay_time &lt;= concat(#{query.params.endTime},' 23:59:59')
        </if>
        <!-- 数据范围过滤 -->
        ${query.params.dataScope}
    </select>
    <select id="statsByFlow" resultType="com.zlc.family.manage.vo.BillStatsVo">
        SELECT
            fb.flow,
            sum( fb.amount ) as amount
        FROM
            family_bill fb
        WHERE fb.del_flag = 0
            <if test="query!=null">
                <if test="query.userName != null and query.userName !=''">
                    AND fb.user_name = #{query.userName}
                </if>
                <if test="query.accountId != null">
                    AND fb.account_id = #{query.accountId}
                </if>
                <if test="query.type != null">
                    AND fb.type = #{query.type}
                </if>
                <if test="query.flow != null">
                    AND fb.flow = #{query.flow}
                </if>
                <if test="query.params.beginTime != null and query.params.beginTime != ''"><!-- 开始时间检索 -->
                    and fb.pay_time &gt;= #{query.params.beginTime}
                </if>
                <if test="query.params.endTime != null and query.params.endTime != ''"><!-- 结束时间检索 -->
                    and fb.pay_time &lt;= concat(#{query.params.endTime},' 23:59:59')
                </if>
            </if>
        <!-- 数据范围过滤 -->
        ${query.params.dataScope}
        GROUP BY
            fb.flow
    </select>
    <select id="statsByType" resultType="com.zlc.family.manage.domain.Bill">
        SELECT
            fb.type,
            SUM( fb.amount ) AS amount
        FROM
            family_bill fb
        WHERE fb.del_flag = 0
        <if test="query!=null">
            <if test="query.params.beginTime != null and query.params.beginTime != ''"><!-- 开始时间检索 -->
                and fb.pay_time &gt;= #{query.params.beginTime}
            </if>
            <if test="query.params.endTime != null and query.params.endTime != ''"><!-- 结束时间检索 -->
                and fb.pay_time &lt;= concat(#{query.params.endTime},' 23:59:59')
            </if>
        </if>
        <!-- 数据范围过滤 -->
        ${query.params.dataScope}
        GROUP BY
            fb.type
    </select>
    <select id="statsByUser" resultType="com.zlc.family.manage.domain.Bill">
        SELECT
            CASE
                WHEN user_name IS NULL OR user_name = '' THEN '夏周之家'
                ELSE user_name
            END AS user_name,
            SUM( amount ) AS amount
        FROM
        family_bill fb
        WHERE del_flag = 0 AND flow = 2
        <if test="query!=null">
            <if test="query.params.beginTime != null and query.params.beginTime != ''"><!-- 开始时间检索 -->
                and pay_time &gt;= #{query.params.beginTime}
            </if>
            <if test="query.params.endTime != null and query.params.endTime != ''"><!-- 结束时间检索 -->
                and pay_time &lt;= concat(#{query.params.endTime},' 23:59:59')
            </if>
        </if>
        <!-- 数据范围过滤 -->
        ${query.params.dataScope}
        GROUP BY
            CASE
                WHEN user_name IS NULL OR user_name = '' THEN '夏周之家'
                ELSE user_name
            END;
    </select>
</mapper>
