<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlc.family.manage.mapper.FileMapper">

    <resultMap id="FileResult" type="com.zlc.family.manage.domain.vo.FileVo">
        <id column="file_id" property="fileId"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="ancestors" property="ancestors"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="remark" property="remark"/>
        <association property="fileExt" javaType="com.zlc.family.manage.domain.FileExt">
            <id column="file_path" property="filePath"/>
            <id column="file_size" property="fileSize"/>
            <id column="file_type" property="fileType"/>
            <id column="place" property="place"/>
        </association>
    </resultMap>

    <select id="listFile" resultMap="FileResult">
        SELECT
            f.file_id,
            f.type,
            f.`name`,
            f.parent_id,
            f.ancestors,
            f.remark,
            f.create_by,
            f.create_time,
            f.remark,
            fe.file_path,
            fe.file_size,
            fe.file_type,
            fe.place
        FROM
            family_file f LEFT JOIN family_file_ext fe ON f.file_id = fe.file_id
        WHERE
            f.del_flag = 0
            <if test="query.parentId != null">
                AND f.parent_id = #{query.parentId}
            </if>
            <if test="query.type != null">
                AND f.type = #{query.type}
            </if>
        <!-- 数据范围过滤 -->
        ${query.params.dataScope}
        order by f.type desc,f.file_id desc
    </select>
</mapper>
